* {
    margin: 0;
    padding: 0;
    color: #920027;
}

header {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}

nav {
    margin-top: 0.3em;
    padding: 0.3em;
    line-height: 2em;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    nav {
        flex-direction: row;
    }
}

@media only screen and (min-width: 800px) {
    header {
        flex-direction: row;
    }

    nav {
        margin-top: 0;
        margin-left: auto;
    }
}

nav a {
    margin-right: 3em;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #dd92a6;
}

h1, h2, h3, h5 {
    font-family: "Roboto Slab", "Open Sans", "Segoe UI", Tahoma, sans-serif;
}

h4, h6, p, small, a, li {
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
}

.skill-container p {
    font-weight: bold;
}

h2 {
    font-size: 1.7em;
}

p, h6, li {
    font-size: 1.1em;
}

small {
    font-size: 1em;
    display: block;
}

.content {
    padding-left: 1em;
    padding-right: 1em;
}

.banner {
    background-image: url(image/scioto.jpg);
    padding-top: 8em;
    /* Yeah, this should probably be flex, but Chrome was giving me issues with the image aspect ratio with flex */
    display: grid;
    grid-template-columns: 100%;
}

.banner, #skills, #projects {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.socials, #skills h3, #projects h3, #skills, #projects {
    background-color: #920027;
}

.headshot {
    max-width: 500px;
    width: 50vw;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 3em;
}

.about, .details, #projects article {
    background-color: #f1f1f1;
}

.details, .socials, h3, section > h1, section > p, .skill-container p {
    text-align: center;
}

.details {
    padding: 2em;
    display: flex;
    align-items: center; 
    justify-content: center;
}

@media only screen and (min-width: 600px) {
    h2 {
        font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
    }

    .details {
        padding: 2em 5em;
    }
}

@media only screen and (min-width: 800px) {
    .banner {
        grid-template-columns: 50% 50%;
    }

    .headshot {
        border-radius: 0;
        margin: 0;
    }

    .details {
        text-align: left;
    }
}

@media only screen and (min-width: 1050px) {
    .content {
        width: 1000px;
        padding-left: calc(50% - 500px);
        padding-right: calc(50% - 500px);
    }
}

h1, h5 {
    margin-top: 0.5em;
}

h1, h2, h4, h6, p, small, a, li, strong {
    font-weight: 300;
}

h1 {
    font-size: 2em;
}

h5 {
    font-size: 1.2em;
}

h5, h6, small {
    letter-spacing: 1px;
}

strong, section > p, h3 {
    font-size: 1.3em;
}

.banner strong, section > p {
    line-height: 1.8em;
}

.socials img {
    margin: 0.5em 2em;
}

.about {
    padding-bottom: 3.5em;
}

section > h1 {
    margin: 1.8em 0 0.5em;
}

section > p {
    width: 95%;
    margin: 0 auto;
}

@media only screen and (min-width: 720px) {
    section > p {
        width: 700px;
    }
}

h3 {
    border-bottom: 1px solid #f1f1f1;
    padding: 1.8em;
    letter-spacing: 2px;
}

.timeline:first-of-type {
    margin-top: 1em;
}

.timeline:last-of-type {
    margin-bottom: 3em;
}

.timeline {
    display: flex;
    flex-direction: column;
}

.timeline > * {
    padding: 2em 1em 0;
    vertical-align: top;
    position: relative;
}

@media only screen and (min-width: 600px) {
    .timeline > * {
        padding: 2em 3em 0;
    }
}

@media only screen and (min-width: 800px) {
    .timeline {
        flex-direction: row;
    }

    .timeline > * {
        flex-grow: 1;
    }

    .title-block {
        border-right: 1px solid #f1f1f1;
        flex-basis: 45%;
    }
    
    .title-block * {
        text-align: right;
    }

    .content-block {
        flex-basis: 55%;
        padding-right: 5em;
    }
    
    .content-block::before, .timeline:first-of-type .title-block::after {
        position: absolute;
    }
    
    .content-block::before {
        /* dot */
        content: "";
        width: 0.3125em;
        height: 0.3125em;
        border-radius: 50%;
        background-color: #920027;
        left: calc(-0.15625em - 0.5px);
        margin-top: 0.5em;
    }
    
    .timeline:first-of-type .title-block::after {
        /* hide part of border above first dot */
        content: "";
        width: 1px;
        height: 2.75em;
        background-color: white;
        right: -1px;
        top: 0;
    }
}

.timeline h5 {
    margin: 0 0 0.2em;
}

p {
    line-height: 1.6em;
    margin-bottom: 0.5em;
}

h6 {
    text-transform: uppercase;
}

h6, li {
    margin-bottom: 0.3em;
}

#skills h3, #projects h3 {
    border-bottom: none;
}

#skills h3, #projects h3, .skill-container p {
    color: white;
    opacity: 0.95;
}

#skills {
    background-image: url("image/skills.jpg");
}

.skill-container {
    display: grid;
    grid-template-columns: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
}

@media only screen and (min-width: 800px) {
    .skill-container {
        grid-template-columns: 50% 50%;
    }
}

.skill-container p {
    font-size: 0.9em;
    padding: 2.5em 0;
    letter-spacing: 2px;
    margin: 0.8em 2em;
    background-color: #ffffff20;
}

.career-goals {
    margin-top: 1.8em;
}

li {
    list-style-type: none;
    position: relative;
    padding-left: 1.2em;
}

li::before {
    content: "";
    width: 0.17em;
    height: 0.17em;
    border-radius: 50%;
    border: 1px solid #920027;
    position: absolute;
    left: 0;
    top: 0.55em;
}

.download {
    margin: 1em auto 2em;
}

#projects {
    background-image: url("image/projects.svg");
    padding-bottom: 3em;
}

#projects article {
    padding: 0.3em 1em 1.5em;
    margin-top: 3em;
}

@media only screen and (min-width: 600px) {
    #projects article {
        padding: 2em 3em 2.5em;
    }
}

article img {
    width: 100%;
    margin: 1em 0;
}

#projects article h5 {
    margin: 0.1em 0 0.4em;
}

footer {
    padding: 1em 0;
}